/* tailwind-css */
@import "tailwindcss"

/* universel-sector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* free-style */
img{
    max-width: 100%;
}

/* flower-plants-lover-section */
.plants-title{
    max-width: 24rem;
}
.trusted-img{
 bottom: 27.90rem;
 right: -6rem;  
}
/* <!-- flower-plants-lover-section --> */
.deals-title{
    word-spacing: 0.60rem;
}

