/* tailwind-css */
@import "tailwindcss"

/* universel-sector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #F5F8FF;
}

/* font-family */

.inter-font {
  font-family: "Inter", sans-serif;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
/* free-style */
img{
    max-width: 100%;
}
.line-h{
    line-height: 1.25rem;
}

/* flower-plants-lover-section */
.plants-title{
    max-width: 24.10rem;
}
.trusted-img{
 bottom: 27.90rem;
 right: -6rem;  
}
/* <!-- flower-plants-lover-section --> */
.deals-title{
    word-spacing: 0.60rem;
}

/* <!-- latest-deals-section --> */
.bloom-plants{
    background-image:linear-gradient(#00000066),url(../assets/deal-bloom.png);
    background-size:cover;
    height:12.50rem;  
    border-radius: 1rem;
    width: 24.875rem;  
}
.ana-plants{
    background-image:linear-gradient(#00000066),url(../assets/deal-ana.png);
    background-size:cover;
    height:12.50rem;   
    margin-top: 1.25rem;
    border-radius: 1rem;
    width: 24.875rem;   
}
.zabo-plants{
    background-image:linear-gradient(#00000066), url(../assets/deal-zabo.png);
    background-size: cover;
    width: 46.875rem;   
    height: 26.25rem;
    border-radius: 1rem;
}

/* <!--color-bunch-section--> */
.color-bunch-section{
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}


